/rub/Coverage/nbproject/private/
/rub/decipher/nbproject/private/
/rub/Rectangles/nbproject/private/
/rub/JavaApplication1/nbproject/private/
/rub/JavaApplication1/build/
/rub/JavaApplication2/nbproject/private/
/rub/JavaApplication2/build/
/swe/JavaApplication2/nbproject/private/
/swe/sindice/nbproject/private/
/swe/sindice/build/